<link rel="apple-touch-icon" sizes="57x57" href="https://fullcalendar.io/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://fullcalendar.io/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://fullcalendar.io/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://fullcalendar.io/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://fullcalendar.io/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://fullcalendar.io/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://fullcalendar.io/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://fullcalendar.io/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://fullcalendar.io/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="https://fullcalendar.io/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="https://fullcalendar.io/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="https://fullcalendar.io/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://fullcalendar.io/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="https://fullcalendar.io/favicon-32x32.png" sizes="32x32">

<link href='//fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' />

  <%= stylesheet_link_tag "fullcalendar.min.css" %>
	<!-- <%= stylesheet_link_tag "base.css" %> -->
	<%= stylesheet_link_tag "fullcalendar.print.css" %>
	<%= stylesheet_link_tag "scheduler.min.css" %>
  <%= javascript_include_tag "moment.min.js" %>
  <%= javascript_include_tag "jquery.min.js" %>
	<%= javascript_include_tag "fullcalendar.min.js" %>
  <%= javascript_include_tag "scheduler.min.js" %>

  <!-- <%= javascript_include_tag "home-scheduler.js" %> -->
<!-- <script id="data" type="application/json">
    {
      $('#calendar').fullCalendar({
      events: '/events.json'
      });
    }
</script> -->

<script id="data" type="application/json">
    {

	$('#calendar').fullCalendar({
		now: '2016-09-07',
		editable: true, // enable draggable events
		aspectRatio: 1.8,
		scrollTime: '00:00', // undo default 6am scrollTime
		header: {
			left: 'today prev,next',
			center: 'title',
			right: 'timelineDay,timelineThreeDays,agendaWeek,month'
		},
		defaultView: 'timelineDay',
		views: {
			timelineThreeDays: {
				type: 'timeline',
				duration: { days: 3 }
			}
		},
		resourceLabelText: 'Rooms',

		resources: { // you can also specify a plain string like 'json/resources.json'
			url: '/resources.json',
			error: function() {
				$('#script-warning').show();
			}
		},

		events: { // you can also specify a plain string like 'json/events.json'
			url: '/events.json',
			error: function() {
				$('#script-warning').show();
			}
		}
	});

});

</script>





<div id='calendar'></div>

</body>
</html>
<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Event', new_event_path %>

<br>

<style>

body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

#script-warning {
	display: none;
	background: #eee;
	border-bottom: 1px solid #ddd;
	padding: 0 10px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
}

#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

#calendar {
	max-width: 900px;
	margin: 50px auto;
}

</style>
